
.process__header {
  background-image: url("../images/process/process-bg.jpg");

  background-position: center;
  border-bottom: #000000 6px solid;
}

.process__header h1 {
  text-align: center;
  font: normal normal bold 40px/50px Heebo;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0px;
  color: #ffffff;
padding-top: 150px;
  padding-bottom: 100px;
}

.process__content {
  max-width: 1050px;
 
  margin-top: 50px;
  margin-bottom: 100px;
 
}

.process__content h2 {
  text-align: center;
  font: normal normal bold 30px/50px Heebo;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0px;
  color: #000000;
 
}
.process__first__row {
 
  border-bottom: 1px solid #c5c2c2;
}
.process__box {

  max-width: 340px;
  border-right: 1px solid #c5c2c2;
  padding-left: 10px;
  height: 105%;
  margin-top: 50px;
}
.process__box span {
  background-color: #363232;
  height: 30px;
  width: 30px;
  justify-content: center;
  display: flex;
}
.process__box span h6 {
  font: normal normal normal 15px/30px Heebo;
  font-family: "Heebo", sans-serif;
  color: #ffffff;
}
.process__box h5 {
  font: normal normal normal 14px/15px Heebo;
  font-family: "Heebo", sans-serif; 
  font-weight: 500;
  letter-spacing: 0px;
  color: #343434;

  margin-left: 10px;
  max-width: 210px;
}
.process__box h3 {
  font: normal normal  18px/25px Heebo;
  font-family: "Heebo", sans-serif; 
  font-weight: 500;
  letter-spacing: 0px;
  color: #343434;

  margin-left: 10px;
  max-width: 210px;
}
.process__image {
  max-width: 250px;


  margin: auto;
  margin-top: 30px;
}
.process__box p {

  font: normal normal normal 14px/24px Heebo;
  font-family: "Heebo", sans-serif;
  letter-spacing: 0px;
  color: #343434;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media screen and (max-width: 750px) {
 
  .process__header {
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .process__box {
    border: none;
    padding: 10px;
    height: 100%;
    margin: auto;
    
  }
  .process__first__row {
    border: none;
    margin: auto;
  }
  .process__header h1 {
    text-align: center;
    font: normal normal bold 30px/20px Heebo;
    font-family: "Heebo", sans-serif;
    padding-top: 130px;
    padding-bottom: 80px;

  }

  .process__content {
    max-width: 1050px;

    margin-top: 40px;
    
    padding: 20px;
    padding-top: 0;
    padding-top: 10;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .process__content h2 {
    text-align: center;
    font: normal normal bold 24px/20px Heebo;
    font-family: "Heebo", sans-serif;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 30px;
  }

}
