.dash__header{
    background-color: rgb(24, 23, 23);
    height: 65px;
    width: 100%;
    align-items: center;
    position: fixed;
}
.dash__header__row{
    /* border: solid red; */
    width: 55%;
    display: flex;
    justify-content: space-between;
}
.dash__header__menu{
margin-top: 20px;
margin-left: 15px;
}
.dash__header__logo{
    max-width: 50px;
}
.dash__header__logo__div{
    margin-top: 10px;
    height: 80px;
    width: 80px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 23, 23);
}

@media screen and (min-width: 900px) {
    .dash__header{
        display: none;
    }
}